@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Hanken+Grotesk:ital,wght@1,300&family=Heebo&family=Inconsolata:wght@700&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #333;
    --gray-color:#bdbdbd;
    --white-color:white;
    --inconsolata-font:'Inconsolata', monospace;
    --spacemono-font: 'Space Mono', monospace;
    --montserrat-font: 'Montserrat', sans-serif;
}
#heading {
    font-size: 24px;
    padding: 25px;
    font-weight: bolder;
    font-family: var(--inconsolata-font);
    color:var(--main-color);
}
h3 {
    font-weight: 700;
    font-size: 64px;
    font-family: var(--spacemono-font);
    color: var(--main-color);
}
p {
    font-weight: 400;
    font-size: 24px;
    width: 45%;
    font-family: var(--spacemono-font);
}
footer h5{
    text-align: center;
    font-family: var(--montserrat-font);
    color:var(--gray-color);
    padding: 20px;
    margin-top: 700px;   
}
button {
    width: 216px;
    height: 68px;
    color: var(--white-color);
    background: var(--main-color);
    margin-top: 4rem;
}
.header {
    float: right;
    width: 50%;
    margin-top: 75px;
    padding: 25px;
}

img{
    float: left;
    margin-top: 75px;
}
@media screen and (max-width:1094px) {
    #heading{
        padding: 30px;
    }
    main{
        display: flex;
        flex-direction: row;
    }

    footer h5{
        margin-top: 106px;
        text-align: center;
    }
}
@media screen and(max-width: 768px){
    main{
        flex-direction: column;
    }
}                           

    
