@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Hanken+Grotesk:ital,wght@1,300&family=Heebo&family=Inconsolata:wght@700&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #333;
    --gray-color:#bdbdbd;
    --white-color:white;
    --inconsolata-font:'Inconsolata', monospace;
    --spacemono-font: 'Space Mono', monospace;
    --montserrat-font: 'Montserrat', sans-serif;
}
.logo{
    font-size: 24px;
    padding: 25px;
    font-weight: bolder;
    font-family: var(--inconsolata-font);
    color:var(--main-color);
}
.main{
    margin-top: 75px;
}
.container {
    float: right;
    width: 50%;
    padding: 25px;
}
.image{
    float: left;
}
.bad-news {
    font-weight: 700;
    font-size: 64px;
    font-family: var(--spacemono-font);
    color: var(--main-color);
}
.description {
    font-weight: 400;
    font-size: 24px;
    /* width: 45%; */
    font-family: var(--spacemono-font);
}

button {
    width: 216px;
    height: 68px;
    margin-top: 4rem;
    color: var(--white-color);
    background: var(--main-color);
}
.creator{
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 39%;
    right: 39%;
    font-family: var(--montserrat-font);
    color:var(--gray-color);
}
@media screen and(max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
    }
}                           

    
