@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Hanken+Grotesk:ital,wght@1,300&family=Heebo&family=Inconsolata:wght@300;400&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Hanken+Grotesk:ital,wght@1,300&family=Heebo&family=Inconsolata:wght@300;400&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Hanken+Grotesk:ital,wght@1,300&family=Heebo&family=Inconsolata:wght@300;400&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Space+Mono&display=swap');

#heading{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    padding: 25px;
}

h3{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 64px;
    color: #333333;
}

p{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
}

footer{
    text-align: center;
    position: absolute;
    top: 875px;
    left: 575px;
    font-family: 'Montserrat', sans-serif;
    color: #bdbdbd;
}

button{
    width: 216px;
    height: 68px;
    background: #333333;
    color: white;
    position: absolute;
    top: 663px;
    left: 815px;
}

.image{
    position: absolute;
    top: 175px;
}


.text{
   float: right;
   width: 40%;
   margin-top: 75px;
}

@media screen and (min-width:375px) and (max-width:900px){


    #heading{
        height: 25px;
        width: 175px;
    }

    #align-row{
        display: flex;
        flex-direction: column;
    }

    img{
        width: 286.83px;
        height: 234.35px;   
    }

    .image{
        display: block;
        margin: 0 auto;
    }


    h3{
        height: 142px;
        width: 350px;
        position: absolute;
        top: 379px;
        left: 23px;
        font-size: 44px;
    }

    p{
        width: 328px;
        height: 81px;
        position: absolute;
        top:579px;
        left: 23px;}

    button{
        width: 216px;
        height: 68px;
        left: 24px;
        top: 800px;
        position: absolute;
    }

    footer{
        width:287px;
        height: 17px;
        top:908px;
        left: 46px;
    }

}

